.app.dark {
  --bg-color: #222222;
  --bg-color-inverted: #f3f3f3;

  --primary-color: #b6b5a9;
  --secondary-color: #8a897c;
  --primary-color-inverted: #222222;
  --secondary-color-inverted: #3f3f3f;
}
